@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');
@import 'mixins.scss';

// Brand Standards
$font-stack: 'Roboto';
$font-primary-color: #555;
$font-secondary-color: #777777;

$gray-primary: #ced4da;
$gray-disabled: #CCCCCC;
$gray-helper: #f1f2f3;

$blue-primary: #09f;
$blue-secondary: #4a90e2;

$white: white;


// Media Query Presets
$breakpoints: (
  mob: 600px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);