@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');
@import 'mixins.scss';

$font-stack: 'Roboto';
$font-primary-color: #555;
$font-secondary-color: #777777;

$gray-primary: #ced4da;
$gray-disabled: #CCCCCC;

$blue-primary: #09f;
$blue-secondary: #4a90e2;

$white: white;

//Font Presets