@import './globals/styles/base/variables.scss';
@import './globals/styles/base/animations.scss';

@import './globals/styles/layout/layout.scss';

//must summon styles by base name [not nested name]
//ex: access button_label through style.button_label

.primary_button {

    font-family: $font-stack;
    font-weight: 200;

    color: $white;
    background-color: $white;
    border: 1px solid $blue-primary;

    // -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

    @include transition($args: background-color .35s linear);
    @include transition($args: color .35s linear);

    .button_label {
        color: $blue-primary;

    }

    &:hover {
        background-color: $blue-primary;

        .button_label {
            color: $white;
    
        }
    }

    &.active {
        background-color: $blue-primary;
        -webkit-box-shadow: none;
        box-shadow: none;

        .button_label {
            color: $white;

        }


    }

    &.disabled {
        background-color: $gray-disabled;
        border-color: $gray-disabled;

        -webkit-box-shadow: none;
        box-shadow: none;

        .button_label {
            color: $white;

        }

    }


}