@import 'mixins.scss';
@import 'variables.scss';

@include keyframes(ghost-out){
    from { 
        max-height: 65px; 
        margin-top: .25em;
        opacity: 1;
      }
      to { 
        max-height: 0;
        margin-top: 0;
        opacity: 0; 
        overflow: hidden;  
      }
}

@include keyframes(loader-grow-in){
    from  { width: 0%; }
    to { width: 100%; }
}

@include keyframes(action-in){
    from {
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }
    to {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);        
    }
}

@include keyframes(coverage-slide-in){
    0%   { 
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);        
    }
    100% { 
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);     
    }
}

@include keyframes(coverage-slide-out){
    0%   { transform: translateY(0) }
    100%   { transform: translateY(-100%) }
}