// -- Fonts -- //
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');

@mixin font-presets(
        $size: false, 
        $color: false, 
        $weight: false,  
        $lh: false
    ) {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
        @if $size { font-size: $size; }
        @if $color { color: $color; } @else { color: $font-primary-color }
        @if $weight { font-weight: $weight; }
        @if $lh { line-height: $lh; }
}


// -- Animations -- //

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}


// -- Transitions -- //

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }