@import '../../../globals/styles/base/variables.scss';
@import '../../../globals/styles/base/animations.scss';

@import '../../../globals/styles/layout/layout.scss';

//must summon styles by base name [not nested name]
//ex: access button_label through style.button_label

.primary_button {
    color: $white;
    background-color: $white;
    border: 1px solid $blue-primary;
    width: 75%;
    margin-bottom: .5em;

    @include transition($args: background-color .35s linear);
    @include transition($args: color .35s linear);
    @include transform($args: translateY(-5px));

    @include respond-below(mob){
        width: 100%;
    }

    .button_label {
        color: $blue-primary;

    }

    &:hover {
        background-color: $blue-primary;

        .button_label {
            color: $white;
    
        }
    }

    &.active {
        background-color: $blue-primary;

        .button_label {
            color: $white;

        }

    }

    &.disabled {
        background-color: $gray-disabled;
        border-color: $gray-disabled;
        
        .button_label {
            color: $white;

        }

    }


}